$def with ( info )
$var title = 'Backend Config'

<center>
<div style="text-align: left; width: 90%;">
	<h2>HCP</h2>
	<b>Guarantee of Service: </b><i>$info[ 'hcp_period' ][ 'period' ]</i> <b>seconds</b>
	<br/>
	<br/>
	<h4>Enrollment rules</h4>
	<table class="table table-bordered table-striped">
		<thead>
			<th>Org</th>
			<th>Subnet</th>
			<th>External IP</th>
			<th>Internal Ip</th>
			<th>Hostname</th>
			<th>Mask</th>
		</thead>
		<tbody>
			$for rule in info[ 'hcp_enrollments' ][ 'rules' ]:
				<tr>
					<td>$rule[ 'new_org' ]</td>
					<td>$rule[ 'new_subnet' ]</td>
					<td>$rule[ 'external_ip' ]</td>
					<td>$rule[ 'internal_ip' ]</td>
					<td>$rule[ 'hostname' ]</td>
					<td>$rule[ 'mask' ]</td>
				</tr>
		</tbody>
	</table>
	<br/>
	<br/>
	<h4>Modules</h4>
	<table class="table table-bordered table-striped">
		<thead>
			<th>ModuleId</th>
			<th>Hash</th>
			<th>Description</th>
		</thead>
		<tbody>
			$for module in info[ 'hcp_modules' ][ 'modules' ]:
				<tr>
					<td>$module[ 'module_id' ]</td>
					<td>$module[ 'hash' ]</td>
					<td>$module[ 'description' ]</td>
				</tr>
		</tbody>
	</table>
	<br/>
	<h4>Taskings</h4>
	<br/>
	<table class="table table-bordered table-striped">
		<thead>
			<th>ModuleId</th>
			<th>Hash</th>
			<th>Mask</th>
		</thead>
		<tbody>
			$for task in info[ 'hcp_taskings' ][ 'taskings' ]:
				<tr>
					<td>$task[ 'module_id' ]</td>
					<td>$task[ 'hash' ]</td>
					<td>$task[ 'mask' ]</td>
				</tr>
		</tbody>
	</table>
	<br/>
	<br/>
	<hr/>
	<h2>HBS</h2>
	<b>Guarantee of Service: </b><i>$info[ 'hbs_period' ][ 'period' ] </i><b>seconds</b>
	<br/>
	<br/>
	<h4>Profiles</h4>
	<table class="table table-bordered table-striped">
		<tbody>
			$for profile in info[ 'hbs_profiles' ][ 'profiles' ]:
				<tr><b style="font-size: 120%;">Mask: </b><i>$profile[ 'mask' ]</i></tr>
				<tr>
					<td><pre><code>$profile[ 'original_configs' ]</code></pre></td>
				</tr>
		</tbody>
	</table>
</div>
</center>
