$def with ( capabilities )
$var title = 'Capabilities'

<div class="row">
    <div class="col-lg-6">
        Add from URL:
        <form action="/capabilities" method="POST">
            <div class="form-group">
                <label for="urlToAdd">Capability URL:</label>
                <input type="url" class="form-control" id="urlToAdd" name="urlToAdd">
                <small class="form-text text-muted">Example: https://github.com/hunter.py or file:///tmp/hunter.py</small>
            </div>
            <div class="form-group">
                <label for="nameToAdd">Unique Name:</label>
                <input type="text" class="form-control" id="nameToAdd" name="nameToAdd">
            </div>
            <div class="form-group">
                <label for="argsToAdd">Arguments (JSON):</label>
                <textarea class="form-control" id="argsToAdd" rows="3" name="argsToAdd"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
    <div class="col-lg-6">
        <form action="/capabilities" method="POST">
            <div class="form-group">
                <label for="nameToRem">Unique Name:</label>
                <input type="text" class="form-control" id="nameToRem" name="nameToRem">
            </div>
            <button type="submit" class="btn btn-primary">Remove</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <th>Unique Name</th>
                <th>Info</th>
            </thead>
            <tbody>
                $for capName, capInfo in capabilities.iteritems():
                    <tr>
                        <td>$capName</td>
                        <td><pre style="text-align: left;"><code>$json.dumps( capInfo, indent = 2 )</code></pre></td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>
