$def with ( detect, inv )
$var title = 'Detect'

<div class="row">
    <div class="col-lg-12">
        <div style="text-align:left;">
            <h4>Detect Id: $detect[ 1 ]</h4>
            <h5>Time: $msTsToTime( detect[ 0 ] )</h5>
            <h5>Type: $detect[ 3 ]</h5>
            <h5>Summary: $detect[ 6 ]</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div style="text-align:left;">
            <h4>Detect Details</h4>
            <pre><code>$json.dumps( detect[ 5 ], indent = 2 )</code></pre>
        </div>
    </div>
    <div class="col-lg-2">
        <h4>Hosts Involved</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                $for host in detect[ 2 ].split(' / '):
                    <tr>
                        <td><a href="/sensor?sensor_id=$host">$host</a></td>
                    </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <h4>Original Events</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                $for event in detect[ 4 ].split(' / '):
                    <tr>
                        <td><a href="/event?id=$event">$event</a></td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
<div class="col-lg-12">
    <hr/>
    <h4>Hunter Investigations</h4>
    <div class="table-responsive">
    <table class="table table-striped" style="text-align: left;">
        <thead>
            <tr>
                <th>Metadata</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            $for hunt in inv.values():
                <tr style="border-bottom-width: thick; border-bottom-color: black; border-bottom-style: double;">
                    <td width="0%" nowrap="">
                        <b>Hunter: </b>$hunt[ 'hunter' ]
                        <br/>
                        <b>Created: </b>$hunt[ 'generated' ]
                        <br/>
                        <b>Closed: </b>$hunt[ 'closed' ]
                        <br/>
                        <b>Nature: </b>$InvestigationNature.lookup[ hunt[ 'nature' ] ]
                        <br/>
                        <b>Conclusion: </b>$InvestigationConclusion.lookup[ hunt[ 'conclusion' ] ]
                        <br/>
                    </td>
                    <td width="100%">
                        $:md( hunt[ 'why' ] )
                    </td>
                </tr>
                $for event in sorted( hunt[ 'tasks' ] + hunt[ 'data' ], key = lambda x: x[ 'generated' ] ):
                    <tr>
                        <td width="0%" nowrap>
                            <b>Hunter: </b>$hunt[ 'hunter' ]
                            <br/>
                            <b>Created: </b>$msTsToTime( event[ 'generated' ] ).split('.')[0]
                            <br/>
                            $if 'dest' in event:
                                <b>Destination: </b>$event[ 'dest' ]
                                <br/>
                                <b>Sent: </b>$event[ 'sent' ]
                        </td>
                        <td width="100%">
                            <div width="100%" style="overflow: auto;">
                                $:md( event[ 'why' ] )
                            </div>
                            <br/>
                            $if 0 != len( event[ 'data' ] ):
                                <pre>$json.dumps( event[ 'data' ], indent = 2 )</pre>
                        </td>
                    </tr>
        </tbody>
    </table>
    </div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
    <hr/>
    <h4>Investigation Events</h4>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Time</th>
                <th>Type</th>
                <th>Event</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="timeline">
            $for event in detect[ 7 ]:
                <tr>
                    <td>
                        $msTsToTime( event[ 1 ] )
                    </td>
                    <td>
                        $event[ 3 ].replace('notification.', '')
                    </td>
                    <td style="text-align: left;">
                        $ details = json.dumps( event[ 2 ], indent = 2 )
                        $if 4096 > len(details):
                            <pre><code>$json.dumps( event[ 2 ], indent = 2 )</code></pre>
                        $else:
                            <pre>$json.dumps( event[ 2 ], indent = 2 )</pre>
                    </td>
                    <td>
                        <a href="/event?id=$event[ 0 ]" title="View Event" target="_blank" class="glyphicon glyphicon-log-in" style="font-size: 30px;"/>
                        <a href="/explorer_view?id=$event[ 4 ]" title="Explore" target="_blank" class="glyphicon glyphicon-tree-conifer" style="font-size: 30px;"/>
                    </td>
                </tr>
        </tbody>
    </table>
    </div>
</div>
</div>

<script>
    hljs.initHighlighting();
</script>