$def with ( event, atom )
$var title = 'Event'

<a style="text-align:left;">
    <h4>Event Id: $event[ 0 ]</h4>
    $if 'base.TIMESTAMP' in event[ 1 ].values()[ 0 ]:
        <h5>Time: $msTsToTime( event[ 1 ].values()[ 0 ][ 'base.TIMESTAMP' ] )</h5>
    <a href="/downloadfileinevent?id=$event[ 0 ]">Download file in this event</a>
    <br/>
    <a href="/explorer_view?id=$atom">View this Event in Explorer</a>
    <pre style="text-align: left;"><code>$json.dumps( event[ 1 ], indent = 2 )</code></pre>
</div>
