$def with ( event )

$code:
    def getRowColor( entry ):
        color = ''
        if entry[ 'base.MEMORY_ACCESS' ] in ( 2, 3, 4, 5 ) and 'base.MODULE_NAME' not in entry and 'base.FILE_PATH' not in entry:
            color = 'style="color:red" '
        return color

    def accessToStr( t ):
        types = { 0 : 'DENIED', 1 : 'X', 2 : 'RX', 3 : 'RWX', 4 : 'XWC', 5 : 'NA', 6 : 'RO', 7 : 'RW', 8 : 'RC' }
        s = ''
        if t in types:
            s = types[ t ]
        else:
            s = '0x' + hex( t ).zfill( 8 )
        return s

    def typeToStr( t ):
        types = { 0 : 'UNKNOWN', 1 : 'IMAGE', 2 : 'MAPPED', 3 : 'PRIVATE' }
        s = ''
        if t in types:
            s = types[ t ]
        else:
            s = '0x' + hex( t ).zfill( 8 )
        return s

    def getModInfo( entry ):
        modInfo = ''
        if 'base.MODULE_NAME' in entry or 'base.FILE_PATH' in entry:
            modInfo = '%s: %s' % ( '' if 'base.MODULE_NAME' not in entry else entry[ 'base.MODULE_NAME' ].decode( 'utf-8' ),
                                   '' if 'base.FILE_PATH' not in entry else entry[ 'base.FILE_PATH' ].decode( 'utf-8' ) )
        return modInfo

<b>Memory Map: $_x_( event, '?/base.PROCESS_ID' )</b><br/>

<table class="table table-hover table-sorted-desc" style="font-family:monospace">
    <thead><th>Base Address</th><th>Size</th><th>Access</th><th>Type</th><th>ModuleInfo</th></thead>
    <tbody>
        $for entry in _xm_( event, '?/base.MEMORY_MAP' ):
            <tr $:getRowColor( entry )>
                <td>0x$hex( int( entry[ 'base.BASE_ADDRESS' ] ) )[ 2 : ].zfill( 16 ).upper()</td>
                <td>0x$hex( int( entry[ 'base.MEMORY_SIZE' ] ) )[ 2 : ].zfill( 8 ).upper()</td>
                <td>$accessToStr( entry[ 'base.MEMORY_ACCESS' ] )</td>
                <td>$typeToStr( entry[ 'base.MEMORY_TYPE' ] )</td>
                <td>$getModInfo( entry )</td>
            </tr>
    </tbody>
</table>